
<div class="relative bg-white" x-data="{mobileMenuOpen : false, searchBarOpen : false} " x-cloak>
    <div class="mx-auto px-4 sm:px-6">
      <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
        <!-- STORE NAME / STORE LOGO -->
        <div class="flex justify-start lg:flex-1 truncate">
          <h1 class="text-xl font-bold truncate">{{section.settings.menu_title}}</h1>
        </div>
        
        <div class="-mr-2 -my-2 ml-3 md:hidden">
          <button x-on:click="mobileMenuOpen = true" type="button" class="bg-white p-2 inline-flex items-center justify-center focus:outline-none">
              {% render 'icon-bars' %}
          </button>
      </div>
      

        <!-- NAVIGATION MENU -->
        {% render 'pc-nav-menu', set: section.settings %}

  
        <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
          <button x-on:click="searchBarOpen = true" type="button" class="cursor-pointer whitespace-nowrap text-base text-gray-500 hover:text-gray-900">
            {% render 'icon-search' %}
          </button>

          {% assign c = routes.cart_url%}
          <a href="{{c}}" class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900">
            {%render 'icon-shopping-bag' %}
          </a>
          {% if shop.customer_accounts_enabled %}
            <a href="{{ routes.account_login_url }}" class="text-base text-gray-500 hover:text-gray-900">Login</a>
            <a href="{{ routes.account_register_url }}" class="text-base text-gray-500 hover:text-gray-900">Register</a>
          {% endif %} 
        </div>
      </div>
    </div>

    <div x-show="mobileMenuOpen" class="absolute z-10 top-0 inset-x-0 p-2 transform origin-top-left md:hidden">
      <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-white w-full">
      <div class="p-5 divide-y-2 divide-gray-50">
        
        <div class="flex items-center justify-between pb-3">
          <div>
            <h1 class="text-lg text-gray-500">{{section.settings.menu_title}}</h1>
          </div>

          <div>
            <button type="button" class="bg-white rounded-md p-2 text-gray-500" x-on:click="mobileMenuOpen = false">
              {% render 'icon-close' %}
            </button>
          </div>
        </div>
        

        <div class="pt-3">
          <!-- MOBILE NAVIGATION MENU -->
          {% render 'mobile-nav-menu', set: section.settings %}
        </div>
      </div>
      </div>
    </div>

    <div x-show="searchBarOpen" class="w-full absolute top-0 bg-white border">
      <button x-on:click="searchBarOpen = false" class="cursor-pointer absolute top-0 right-0 mr-5 mt-5 text-gray-500" type="button">
        {% render 'icon-close' %}
      </button>
      <div class="h-40 flex justify-center items-center">
        <form action="{{ routes.search_url }}" method="get" class="flex-auto">
          <div class="relative text-gray-500 px-10 border">
            <input type="search" name="q" placeholder="Search" class="w-full bg-white px-5 h-10 pr-10 rounded-full text-sm focus:outline-none">
            <button class="cursor-pointer absolute top-0 right-0 mr-2 mt-2 md:mr-2" type="submit">
              {% render 'icon-search' %}
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "menu_title",
        "label": "Title",
        "default" : "Menu",
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Header Menu",
        "default": "main-menu", // handle of the main menu
      }
    ]
  }
{% endschema %}